# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*
.env
# Environment variables
.env*.local
NRTF-Hardware
# Common ignores
node_modules
.next/
Hackathon-Maroc
.DS_Store
data
__pycache__/